Django>=4.2
gunicorn
whitenoise

pandas
numpy
scikit-learn
joblib

matplotlib
seaborn

pymysql

scipy
threadpoolctl
python-dateutil
pytz
tzdata

sqlparse
asgiref
packaging
cycler
kiwisolver
pillow
pyparsing
fonttools
contourpy
